@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    padding: 25px 250px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    width: 100vw;
    z-index: 999;
}

nav h3 {
    color: white;
    font-size: 1.2rem;
}

section {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: grid;
    place-content: center;
    color: white;
}

.blank {
    height: 75vh;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(48px);
    display: flex;
    align-items: center;
}

#section1 {
    background-image: url('../img/img1.png');
    background-size: 102%;
    background-position: center;
}

#section2 {
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
}

#section3 {
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: center;
}

#section4 {
    background-image: url('../img/img4.jpg');
    background-size: cover;
    background-position: center;
}

#section5 {
    background-image: url('../img/img5.jpg');
    background-size: cover;
    background-position: center;
}

#section6 {
    background-image: url('../img/img6.jpg');
    background-size: cover;
    background-position: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-container h1 {
    font-size: 6rem;
    margin: 0;
    margin-bottom: 20px;
}

.text-container h3 {
    font-weight: 400;
    letter-spacing: 1pt;
}

.main-button {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: none;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.1);
}

.main-button p{
    margin-left: 10px;
    transition: margin-left 0.2s;
}

.main-button:hover p{
    margin-left: 15px;
}

#blank1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.avatar{
    height: 350px;
    border-radius: 20px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 50%;
    padding: 5px;
}

.text-wrapper h3{
    font-size: 2rem;
    margin-bottom: 30px;
}

.text-wrapper p{
    line-height: 1.5;
    letter-spacing: 0.9pt;
}

.text-wrapper #first-para{
    margin-top: auto;
    margin-bottom: 30px;
}

#blank2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#blank2 h3{
    font-size: 2rem;
}

#blank2 .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 100px;
    width: 90%;
    white-space: nowrap;
}

.card-wrapper .card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    min-width: 250px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.card .img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card img{
    height: 100px;
    width: auto;
}